(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: Url("https://file%2B.vscode-resource.vscode-cdn.net/Users/keipon/Desktop/project/tt_pretraining/riscv-iommu-kawano/tb_coco/test/_example/iommu_smoke/dump.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "tb_riscv_iommu_wrapper",
                "i_dut",
                "i_rv_iommu_prog_if",
                "prog_req_i",
                "ar",
            ],
            id: Wellen((638)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (1),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (20): Group((
                name: "AR: Read Address",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "prog_arvalid",
                    id: Wellen((39)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "prog_arvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "clk_i",
                    id: Wellen((1)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "clk_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "prog_wdata",
                    id: Wellen((17)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "prog_wdata [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (3): Group((
                name: "CLK/RST",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "prog_rvalid",
                    id: Wellen((46)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "prog_rvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "prog_bready",
                    id: Wellen((27)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "prog_bready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "prog_rready",
                    id: Wellen((47)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "prog_rready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (24): Group((
                name: "R: Read Data",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "prog_bresp",
                    id: Wellen((24)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "prog_bresp [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "prog_wready",
                    id: Wellen((22)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "prog_wready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "prog_araddr",
                    id: Wellen((29)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "prog_araddr [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "prog_arready",
                    id: Wellen((40)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "prog_arready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "prog_araddr",
                    id: Wellen((29)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "prog_araddr [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "prog_wvalid",
                    id: Wellen((21)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "prog_wvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (8): Group((
                name: "AW: Write Address",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "prog_rdata",
                    id: Wellen((42)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "prog_rdata [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "prog_arvalid",
                    id: Wellen((39)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "prog_arvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "prog_bvalid",
                    id: Wellen((26)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "prog_bvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "prog_arready",
                    id: Wellen((40)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "prog_arready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "wsi_wires_o",
                    id: Wellen((48)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "wsi_wires_o [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (16): Group((
                name: "B: Write Response",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "rst_ni",
                    id: Wellen((2)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rst_ni",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (12): Group((
                name: "W: Write Data",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
        },
        display_item_ref_counter: 25,
        viewports: [
            (
                curr_left: (0.005196103075146674),
                curr_right: (0.7051961030751464),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: None,
        markers: {},
        focused_item: None,
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)